h2, h3 {
    font-family: "PT Sans bold", Arial, sans-serif ;
}
.main-wrapper__header,.main-wrapper__content,.main-wrapper__footer,
.main-block__photo, .main-nav{
    width: 100%;
}
.main-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    box-shadow: 0 10px 10px #888888;
    position: relative;
}
.main-wrapper__header {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    overflow: hidden;
}
.main-wrapper__footer {
    margin-top: auto;
}
.main-block__photo {
    height: 100%;
    object-fit: cover;
    margin-top: -1px;
}
.first-reason__photo{
    margin-top: -1px;
}
.social-icons__list {
    margin-bottom: 0;
}
.nav__list, .filter__infrastructure-house,
.prices__minimum-maximum, .main-options__sorting, .up-down__search {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__nav {
    background: #ffffff;
    width: 100%;
    height: 56px;
    margin: 0 auto;
}
.header__nav a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}
.header__nav a:hover {
    color: #81b3d2;
}
.header__nav a:focus {
    color: #ababab;
}
.header__nav a:active {
    color: #847870;
}
.nav__logo {
    position: absolute;
    z-index: 1;
    margin-left: -70px;
}
.nav__list {
    height: 100%;
}
.list__left,
.list__right {
    display: flex;
    justify-content: space-between;
    width: 460px;
}
.left__photo{
    text-align: left;
    margin-left: 35px;
}
.left__info {
    text-align: right;
    padding-left: 15px;
}
.right__map {
    text-align: right;
    margin-right: 20px;
}
.right__hotels {
    text-align: left;
}
.nav-item {
    font-family: "PT Sans bold", Arial, sans-serif;
    width: 150px;
}
.nav-item a {
    text-transform: uppercase;
    line-height: 26px;
}
.people-row input {
    padding: 5px 0;
}
.date-row__search {
    color: #ffffff;
    font-family: "PT Sans bold", Arial, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #766257;
    width: 570px;
    height: 85px;
    font-size: 21px;
    border: 0;
    cursor: pointer;
}
.date-row__search:hover {
    background-color: #604e44;
    color: #ffffff;
}
.date-row__search:focus {
    background-color: #503e34;
    color: #7f7069;
}
.main-block__search {
    background-color: #ffffff;
    font-family: "PT Sans bold", Arial, sans-serif;
    text-align: center;
    margin: 0 auto;
    position: relative;
}
.search__modal {
    width: 570px;
    height: 480px;
    background-color: #ffffff;
    position: absolute;
    z-index: 1;
    left: calc(50% - 285px);
    top: -85px;
    box-shadow: 0 10px 10px #888888;
}
.hotels__number-of-people {
    width: 472px;
    height: 38px;
    margin: 30px 0 0 30px;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.hotels__date-row {
    text-transform: uppercase;
}
.adults__row,.hotels__date-row,
.kids__row {
    font-weight: bold;
}
.hotels__find-button {
    width: 570px;
    height: 167px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.find-button {
    color: #ffffff;
    font-family: "PT Sans bold", Arial, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #82b3d3;
    width: 470px;
    height: 58px;
    font-size: 21px;
    border: 0;
    cursor: pointer;
}
.find-button:hover {
    color: #ffffff;
    background-color: #669ec1;
}
.find-button:focus {
    color: #89b5d0;
    background-color: #5596be;
}
.check-in-date {
    color: #000000;
    background-color: #f2f2f2;
    border: 0;
    text-decoration: none;
    width: 320px;
    height: 38px;
    padding-left: 10px;
    text-transform: uppercase;
    font-family: "PT Sans bold", Arial, sans-serif;
    position: relative;
}
.label-date {
    color: #000000;
    height: 29px;
    text-align: left;
    margin-top: 9px;
}
.first__label-date {
    width: 100px;
    margin-right: 8px;
}
.second__label-date {
    width: 100px;
    margin-right: 9px;
}
.check-in-date:hover {
  color: #000000;
  background-color: #ebebeb;
  border: 0;
}
.check-in-date:focus {
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #ebebeb;
}
.icon__calendar {
    position: relative;
}
.number-of-people__first {
    width: 420px;
    height: 67px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 20px;
}
.number-of-people__second {
    width: 420px;
    height: 38px;
    display: flex;
    justify-content:space-between;
    align-items: flex-start;
    margin-left: 75px;
}
.icon__calendar::after {
    background: no-repeat center #cacaca url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='22'%3E%3Cpath d='M19.251 2.025h-2.845V.648c0-.381-.294-.689-.656-.689-.363 0-.656.308-.656.689v1.377h-3.938V.648c0-.381-.294-.689-.655-.689-.363 0-.657.308-.657.689v1.377H5.906V.648c0-.381-.294-.689-.656-.689-.363 0-.657.308-.657.689v1.377H1.75C.784 2.025 0 2.847 0 3.862v16.302C0 21.179.784 22 1.75 22h17.501c.966 0 1.749-.821 1.749-1.836V3.862c0-1.015-.783-1.837-1.749-1.837zm.437 18.139a.448.448 0 01-.437.459H1.75a.45.45 0 01-.438-.459V3.862a.45.45 0 01.438-.459h2.844v1.378c0 .381.294.689.657.689.362 0 .656-.308.656-.689V3.403h3.938v1.378c0 .381.294.689.657.689.361 0 .655-.308.655-.689V3.403h3.938v1.378c0 .381.293.689.656.689.362 0 .656-.308.656-.689V3.403h2.845c.241 0 .437.206.437.459v16.302z'/%3E%3Cpath d='M4.594 8.225h2.625v2.066H4.594zm0 3.443h2.625v2.067H4.594zm0 3.444h2.625v2.066H4.594zm4.594 0h2.625v2.066H9.188zm0-3.444h2.625v2.067H9.188zm0-3.443h2.625v2.066H9.188zm4.593 6.887h2.625v2.066h-2.625zm0-3.444h2.625v2.067h-2.625zm0-3.443h2.625v2.066h-2.625z'/%3E%3C/svg%3E");
    filter: opacity(0.25);
}
.icon__calendar::after,
.change-count-button {
    width: 40px;
    height: 38px;
    cursor: pointer;
}
.icon__calendar:hover::after {
    background: no-repeat center #f2f2f2 url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='22'%3E%3Cpath d='M19.251 2.025h-2.845V.648c0-.381-.294-.689-.656-.689-.363 0-.656.308-.656.689v1.377h-3.938V.648c0-.381-.294-.689-.655-.689-.363 0-.657.308-.657.689v1.377H5.906V.648c0-.381-.294-.689-.656-.689-.363 0-.657.308-.657.689v1.377H1.75C.784 2.025 0 2.847 0 3.862v16.302C0 21.179.784 22 1.75 22h17.501c.966 0 1.749-.821 1.749-1.836V3.862c0-1.015-.783-1.837-1.749-1.837zm.437 18.139a.448.448 0 01-.437.459H1.75a.45.45 0 01-.438-.459V3.862a.45.45 0 01.438-.459h2.844v1.378c0 .381.294.689.657.689.362 0 .656-.308.656-.689V3.403h3.938v1.378c0 .381.294.689.657.689.361 0 .655-.308.655-.689V3.403h3.938v1.378c0 .381.293.689.656.689.362 0 .656-.308.656-.689V3.403h2.845c.241 0 .437.206.437.459v16.302z'/%3E%3Cpath d='M4.594 8.225h2.625v2.066H4.594zm0 3.443h2.625v2.067H4.594zm0 3.444h2.625v2.066H4.594zm4.594 0h2.625v2.066H9.188zm0-3.444h2.625v2.067H9.188zm0-3.443h2.625v2.066H9.188zm4.593 6.887h2.625v2.066h-2.625zm0-3.444h2.625v2.067h-2.625zm0-3.443h2.625v2.066h-2.625z'/%3E%3C/svg%3E");
    filter: opacity(100%);
}
.icon__calendar::after,
.icon__calendar:hover::after {
    border: none;
    position: absolute;
    content: "";
}
.icon__calendar:active::after {
    content: url("./img/svg/blue-calendar.svg");
    background-image: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 6px;
    height: 32px;
}
.change-count-button {
  color: #ababab;
  background-color: #f2f2f2;
  border: 0;
  text-decoration: none;
  font-size: 21px;
  font-weight: bold;
}
.change-count-button:hover{
  color: #000000;
}
.change-count-button:focus {
  color: #82b3d3;
}
.button__left {
   border: none;
   margin-right: -2px;
}
button {
    padding: 0;
}
.button__right {
   border: none;
   margin-left: -2px;
}
.date-row__first {
    width: 472px;
    margin: 55px 0 25px 30px;
    position: relative;
}
.date-row__second {
    width: 472px;
    margin-left: 30px;
    position: relative;
}
.first__calendar {
    right: 21px;
}
.second__calendar {
    right: 19px;
}
.first__calendar,
.second__calendar {
    position: absolute;
    top: 0;
}
.adults-kids__name{
    font-family: "PT Sans bold", sans-serif;
    color: #000000;
}
.people-row__first {
    text-align: left;
    width: 226px;
}

.people-row__first, .first__adults-button-row,
.people-row__second, .second__kids-button-row {
    height: 38px;
    display: flex;
    justify-content: space-between;
}
.first__adults-name {
    width: 105px;
    height: 38px;
    display: flex;
    align-items: center;
}
.first__adults-button-row {
    width: 114px;
    margin-right: 2px;
}
.people-row__second {
    text-align: left;
    width: 178px;
}
.second__kids-name {
    width: 65px;
    height: 38px;
    display: flex;
    align-items: center;
}
.second__kids-button-row {
    width: 112px;
    margin-right: 2px;
}
.adults-kids__row {
  color: #000000;
  text-decoration: none;
  background-color: #f2f2f2;
  border: 0;
  width: 35px;
  height: 38px;
  text-align: center;
  font-family: "PT Sans bold", Arial, sans-serif;
}
input {
    padding: 0;
}
.main-block__description {
    background-color: #ffffff;
    height: 217px;
    margin-left: auto;
    margin-right: auto;
}
.description__title{
  color: #000000;
  font-size: 21px;
  font-family: "PT Sans bold", sans-serif;
  padding-top: 61px;
  margin-top: -8px;
  line-height: 26px;
}
.description__reasons {
  margin-top: 27px;
  font-family: "PT Sans", sans-serif;
  line-height: 26px;
}
.reasons__first-reason {
    height: 255px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.first-reason__town {
    width: 400px;
    height: 255px;
    background-color: #82b3d3;
}
.town__number {
    margin-top: 24px;
}
.town__description {
    margin-top: 21px;
    font-family: "PT Sans", sans-serif;
    margin-bottom: 60px;
}
.reasons__second-reason {
    height: 256px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.second-reason__bridge {
    width: 400px;
    height: 256px;
    background-color: #82b3d3;
}
.bridge__title {
    margin-top: 47px;
}
.bridge__number {
    margin: 14px 0 21px 0;
}
.bridge__description{
    margin-top: 14px;
}
.reasons__reasons-list {
    height: 271px;
    margin: 0 0 auto;
    background-color: #eeeeee;
    display: flex;
    justify-content: space-around;
}
.reasons-list-item__number {
   margin: 24px 0 21px 0;
}
.reasons-list__item {
    width: 400px;
    margin-top: 26px;
}
.reason-text {
  color: #ffffff;
}
.reasons__list {
    height: 330px;
    margin: 0 0 auto;
    display: flex;
    justify-content: space-around;
    background-color: #ffffff;
}
.list__souvenirs {
    margin: 54px 5px 0 0;
}
.list__house {
    margin: 60px 0 0 5px;
}
.list__food {
   margin-top: 60px;
}
.list__item {
   font-family: "PT Sans", sans-serif;
}
.town__title{
    margin-top: 47px;
}
.town__title, .second-reason__title,
.item__title, .reasons-list-item__title{
    font-size: 21px;
}
.second-reason__title {
    margin: 46px 0 24px 0;
}
.item__title {
    margin: 23px 0 24px 0;
}
.item__title, .offer-title__title,
.reasons-list-item__title {
    color: #000000;
}
.offer-title__title {
    font-size: 30px;
    margin-bottom: 32px;
    padding-top: 58px;
}
.offer-title__description {
    line-height: 24px;
    font-family: "PT Sans", sans-serif;
}
.main-block__offer-title {
    background-color: #ffffff;
    height: 290px;
    margin-top: -25px;
    margin-left: auto;
    margin-right: auto;
}
.search__map {
    height: 593px;
}
.main-wrapper__footer {
    background-color: #ffffff;
    width: 100%;
    height: 120px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.social-icons__button a {
    display: inline-block;
    width: 46px;
    height: 48px;
    background-color: #82b3d3;
    text-align: center;
    box-sizing: border-box;
    fill: #ffffff;
}
.social-icons__button a:hover {
    background-color: #669ec1;
    fill: #ffffff;
}
.social-icons__button a:active {
    background-color: #5596be;
    fill: #88b5d2;
}
.social-icons__facebook,
.social-icons__youtube{
    margin-left: 6px;
}
.social-icons__youtube a {
    padding: 16px 0 0 13px;
}
.social-icons__facebook a {
    padding: 13px 0 0 17px;
}
.social-icons__twitter a{
    padding: 16px 0 0 15px;
}
.social__social-icons {
    display: flex;
    justify-content: space-between;
    width: 150px;
    height: 48px;
}
.visit-sedona__hashtag {
    font-family: "PT Sans bold", Arial, sans-serif;
    font-size: 21px;
    line-height: 26px;
}
.footer__hashtag {
    display: flex;
    height: 100%;
    align-items: center;
    margin: 0 30px 0 20px;
}
.hashtag__visit-sedona {
    text-decoration: none;
    color: #000000;
}
.hashtag__visit-sedona:hover,
.footer-academy__link:hover {
    color: #81b2d2;
}
.hashtag__visit-sedona:active,
.footer-academy__link:active{
    color: #bcbabb;
}
.footer-academy__link {
    margin-left: 6px;
    fill: #231f20;
}
.academy__footer-academy {
    width: 199px;
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    margin-right: -10px;
}
.footer-academy__design {
    padding-top: 9px;
}
.footer__social {
    height: 100%;
    display: flex;
    align-items: center;
}